{% extends 'base.html' %}
{% block 'main' %}


<div style="color:blue;background-color:black;">
<h3>What is Cardiology?</h3>

Download PDF Copy
Dr. Ananya Mandal, MD
By Dr. Ananya Mandal, MD
Reviewed by Sally Robertson, B.Sc.
The term cardiology is derived from the Greek words “cardia,” which refers to the heart and “logy” meaning “study of.” Cardiology is a branch of medicine that concerns diseases and disorders of the heart, which may range from congenital defects through to acquired heart diseases such as coronary artery disease and congestive heart failure.

Physicians who specialize in cardiology are called cardiologists and they are responsible for the medical management of various heart diseases. Cardiac surgeons are the specialist physicians who perform surgical procedures to correct heart disorders.

Cardiology milestones, on 26 June 1997, the books have found immense popularity, positive reviews, and commercial success worldwide. They have attracted a wide adult audience as well as younger readers, and are widely considered cornerstones of modern literature.[4][5] As of February 2023, the books have sold more than 600 million copies worldwide, making them the best-selling book series in history, and have been available in 85 languages.[6] The last four books consecutively set records as the fastest-selling books in history, with the final instalment selling roughly 2.7 million copies in the United Kingdom and 8.3 million copies in the United States within twenty-four hours of its release.
</div><br><br>
<div style="color:green;background-color: yellow;">
Neurology (from Greek: νεῦρον (neûron), "string, nerve" and the suffix -logia, "study of") is the branch of medicine dealing with the diagnosis and treatment of all categories of conditions and disease involving the nervous system, which comprises the brain, the spinal cord and the peripheral nerves.[1] Neurological practice relies heavily on the field of neuroscience, the scientific study of the nervous system.

A neurologist is a physician specializing in neurology and trained to investigate, diagnose and treat neurological disorders.[2] Neurologists diagnose and treat myriad neurologic conditions, including stroke, epilepsy, movement disorders such as Parkinson's disease, brain infections, autoimmune neurologic disorders such as multiple sclerosis, sleep disorders, 

Neurology (from Greek: νεῦρον (neûron), "string, nerve" and the suffix -logia, "study of") is the branch of medicine dealing with the diagnosis and treatment of all categories of conditions and disease involving the nervous system, which comprises the brain, the spinal cord and the peripheral nerves.[1] Neurological practice relies heavily on the field of neuroscience, the scientific study of the nervous system.

A neurologist is a physician specializing in neurology and trained to investigate, diagnose and treat neurological disorders.[2] Neurologists diagnose and treat myriad neurologic conditions, including stroke, epilepsy, movement disorders such as Parkinson's disease, brain infections, autoimmune neurologic disorders such as multiple sclerosis, sleep disorders, 
</div><br><br>
<div style="color:red;background-color:pink;">

Gastroentrology (from Greek: νεῦρον (neûron), "string, nerve" and the suffix -logia, "study of") is the branch of medicine dealing with the diagnosis and treatment of all categories of conditions and disease involving the nervous system, which comprises the brain, the spinal cord and the peripheral nerves.[1] Neurological practice relies heavily on the field of neuroscience, the scientific study of the nervous system.

A Gastroentrologist is a physician specializing in neurology and trained to investigate, diagnose and treat neurological disorders.[2] Neurologists diagnose and treat myriad neurologic conditions, including stroke, epilepsy, movement disorders such as Parkinson's disease, brain infections, autoimmune neurologic disorders such as multiple sclerosis, sleep disorders, 
</div>
{% endblock 'main' %}



