{% include 'header.html' %}
{% load static %}
{% block 'main' %}
<!--cart--starts-->
<div class="row mt-5">
    <div class="col-md-9">
        {% for x in data %}
        {% if forloop.counter == 1 %}
    <h5 class="bg-danger text-white p-3">Customer Details</h5>
    <p><strong>Name:</strong>&nbsp;&nbsp;&nbsp;{{x.uid.username}}</p>
    <p><strong>Mobile:</strong>&nbsp;&nbsp;&nbsp;9440428560</p>
    <p><strong>Email:</strong>&nbsp;&nbsp;&nbsp;{{x.uid.email}}</p>
    {% endif %}
    {% endfor %}

    {% for x in data %}
 

    <div class="row">
        <div class="col-md-4">
        <img src="{{x.pid.pimage.url}}" width="100%" alt="">
        </div>
        <div class="col-md-8">
            <p><strong>Product Name:</strong>&nbsp;&nbsp;&nbsp;{{x.pid.name}}</p>
            <p><strong>Price:</strong>&nbsp;&nbsp;&nbsp;{{x.pid.price}}</p>
            {% if x.pid.cat == 1 %}
            <p><strong>Category:</strong>&nbsp;&nbsp;&nbsp;Mobiles</p>
            {% elif x.pid.cat == 2 %}
            <p><strong>Category:</strong>&nbsp;&nbsp;&nbsp;Shoes</p>
            
             {% else %}
            <p><strong>Category:</strong>&nbsp;&nbsp;&nbsp;Clothes</p>
            {% endif %}
            <p><strong>Product Description:</strong>&nbsp;&nbsp;&nbsp;{{x.pid.pdetails}}</p>
            <p>
                <strong>QTY</strong>
                <a href="/updateqty/0/{{x.id}}"><button class="btn btn-danger">-</button></a>
                <input type="number" value="{{x.qty}}">
                <a href="/updateqty/1/{{x.id}}"><button class="btn btn-success">+</button></a>
                </p>

            <a href="remove/{{x.id}}"><button class="btn btn-danger">Remove</button></a>
        </div>
        
    </div>
    {% endfor %}

    </div>
    <!--customerandproductdetails-->
    <div class="col-md-3">
    <h5 class="bg-danger text-white p-3">Total Amount</h5>
    <p><strong>Total({{n}}  items):</strong>{{total}}</p>
    <hr>
    
    <p><strong>Total Amount:</strong>{{total}}</p>

<a href="/placeorder"><button class="btn btn-danger">Place Order</button></a>
    </div>
    <!--TotalAmountSection-->
    </div>


<!--cart--end-->

{% endblock 'main' %}
{% include 'footer.html' %}
