{% load static %}
<!--footerstarts-->
<div class="row mt-4 bg-light p-3">
    <div class="col-md-4">
      <h5>Address</h5>
      <hr>
      27-6-199 opposite Municipal High school<br>
      AC Nagar Nellore<br><br>
      <p><i class="bi bi-telephone-fill text-danger"></i>&nbsp;&nbsp;&nbsp;9440428560</p>
      <p><i class="bi bi-envelope text-danger"></i>&nbsp;&nbsp;&nbsp;customer@gmail.com</p>
    </div>
    <div class="col-md-4">
      <h5>Quick Links</h5>
      
      <hr>
      <p><a class="anchor" href="/home">Home</a></p>
      <p><a class="anchor" href="/about">About Us</a></p>
      <p><a class="anchor" href="/contact">Contact</a></p>
      <p><a class="anchor" href="/viewcart">Services</a></p>
    </div>
    <div class="col-md-4">
      <h5>Connect Us</h5>
      <hr>
      <h5><a href="http://www.facebook.com"><i class="bi bi-facebook text-danger"></i></a></h5>
      
      <h5><a href="http://www.twitter.com"><i class="bi bi-twitter text-danger"></i></a></h5>
      
      <h5><a href="http://www.instagram.com"><i class="bi bi-instagram text-danger"></i></a></h5>
      
      <h5><a href="http://www.linkedin.com"><i class="bi bi-linkedin text-danger"></i></a></h5>
    </div>
  </div><!--footerends-->
</div>
<script src="{% static 'asset/js/popper.min.js' %}">  </script> 
<script src="{% static 'asset/js/botstrap.min.js' %}">

</script>
 </body>

</html>