{% extends 'base.html' %}
{% load static %}
{% block 'main' %}


   
      
<!--main--starts-->
<div class="row mt-5">
    {% for x in products %}

    <div class="col-md-6">
        <img src="{{x.pimage.url}}" width="100%" alt="">
    </div>
    <div class="col-md-6">
        <p><strong>Product Name:</strong>&nbsp;&nbsp;&nbsp;{{x.name}}</p>
        <p><strong>Price:</strong>&nbsp;&nbsp;&nbsp;{{x.price}}</p>
        {% if cat == 1 %}
        <p><strong>Category:</strong>&nbsp;&nbsp;&nbsp;Mobile</p>
        {% elif cat == 2 %}
        <p><strong>Category:</strong>&nbsp;&nbsp;&nbsp;Shoes</p>
        {% else %}
        <p><strong>Category:</strong>&nbsp;&nbsp;&nbsp;Clothes</p>
        {% endif %}


        <p><strong>Product Description:</strong>&nbsp;&nbsp;&nbsp;{{x.pdetails}}</p>
        <br>
        <a href="/addtocart/{{x.id}}"><button class="btn btn-danger">Add to Services</button></a>&nbsp;&nbsp;&nbsp;
        <a href="/viewcart"><button class="btn btn-danger">View Services</button></a>&nbsp;&nbsp;&nbsp;
        <a href="/home"><button class="btn btn-danger"> Medicines Available </button></a>&nbsp;&nbsp;&nbsp;
        <br>
        {% if success %}
             <div class="alert alert-success">
                {{success}}
            </div>
        {% endif %}
        {% if msg %}
             <div class="alert alert-danger">
                {{msg}}
            </div>
        {% endif %}

 

 
            
    
    
    </div>
    {% endfor %}
</div>

<!--main--end-->
{% endblock 'main' %}

